/* Standard CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

main,
section {
  height: 40rem;
}

/* Utility */
.container {
  margin: auto;
  max-width: 110rem;
  overflow: auto;
  padding: 0 2rem;
}

.bg-light {
  color: #333333;
  background: #ffffff;
}

.bg-dark {
  color: #ffffff;
  background: #333333;
}

.active {
  border-bottom: 0.2rem solid #ffffff;
}

.vr {
  border-left: 0.1rem solid #707070;
  height: 3rem;
}

/* Navigation Bar */
#navbar {
  overflow: auto;
  text-transform: uppercase;
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  transition: all 0.3s ease;
}

#navbar .container {
  max-width: 131rem;
  height: 80px;
  position: relative;
}

#navbar.nav-light {
  color: #333333;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(44, 44, 44, 0.2);
}

#navbar.nav-light ul li a {
  color: #333333;
}

#navbar a {
  font-size: 2rem;
}

#navbar .logo {
  font-weight: bold;
}

#navbar ul {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#navbar ul li {
  float: left;
  padding: 0 3.4rem;
}

#navbar ul li a {
  display: block;
  position: relative;
  text-align: center;
  color: #ffffff;
  opacity: 0.9;
  transition: border 0.3s ease;
}
#navbar ul li a:not(.active) {
  border-bottom: 0.2rem solid transparent;
  transition: border-color 0.3s ease;
}

#navbar ul li:not(.logo) a:hover {
  border-color: #ffffff;
}

#navbar.nav-light ul li:not(.logo) a:hover {
  border-color: #333333;
}

#hero {
  background: url('../img/hero-image.png') no-repeat center center/cover;
  height: 100vh;
}
